h1 {
  font-family: cursive;
  display: flex;
  color: tomato;
  justify-content: center;
}
body {
  /* background-color: black; */
  justify-content: center;
  display: flex;
}
.input {
  width: 200px;
}
.button {
  margin: 10px;
}
p {
  color: white;
}
.Box1 {
  height: 100px;
  width: 300px;
  background-color: coral;
  margin: 10px;
}
.mainclass {
  display: flex;
  height: 200px;
  width: 500px;
  background-color: cyan;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
  /* align-items: baseline; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */

  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap-reverse; */
  /* flex-flow: row-reverse wrap; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
}
